/*
    --bg-color: rgba(0, 0, 0, 0.7);
    --primary-color: #ff5080;
    --secondary-color: #fff;
    --black-color: #000;
    --dark-blue: #111135;
    --white-gray: #f3f3f3;
    --light-gray: #d3d3d3;
    --gray: #919191;
    --dark-gray: #565656;
*/

@media screen and (max-width:800px) {
    .networks {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: var(--bg-color);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icon-nav {
        display: block;
    }

    #start .content .presentation h2 {
        font-size: 40px;
    }

    #about_me {
        padding: 50px 0;
        display: block;
    }

    #about_me .container-photo {
        max-width: 200px;
        margin: auto;
    }

    #about_me .container-photo img {
        padding: 8px;
    }

    #about_me .about_me .title-section {
        text-align: center;
    }

    #about_me .about_me h2 {
        font-size: 25px;
        text-align: center;
    }

    #services {
        padding: 50px 15px;
    }

    #services .row {
        display: block;
    }

    #services .row .service {
        margin: 10px auto;
    }

    .container-skills {
        padding: 50px 20px;
    }

    #portfolio {
        padding: 50px 0;
    }

    #portfolio .row {
        display: block;
    }

    #portfolio .row .project {
        margin: 10px auto;
    }

    #contact {
        padding: 50px 15px;
    }

    #contact .container-form .half {
        margin-bottom: 15px;
        display: block;
    }

    #contact .container-form .half input {
        width: 100%;
        margin-bottom: 15px;
    }
}