/*
    --primary-color: #f6582c;;
    --secondary-color: #f3f3f3;
    --tertiary-color: #000;
    --black-color: #000;
    --white-gray: #f3f3f3;
    --light-gray: #d3d3d3;
    --gray: #919191;
    --dark-gray: #565656;
*/

#services {
    padding: 100px 15px;
    text-align: center;
}

#services .title-section {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 5px;
}

#services-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
}

#services-container .service {
    max-width: 320px;
    background-color: var(--tertiary-color);
    padding: 30px;
    margin: 10px 5px;
    border-radius: 10px;
    transition: .5s;
}

#services-container .service:hover {
    box-shadow: 5px 5px 10px var(--dark-gray), -5px -5px 10px var(--gray);
}

#services-container .service h4 {
    font-size: 22px;
    margin-bottom: 25px;
    color: var(--primary-color);
}

#services-container .service .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--gray);
    padding: 20px 0px;
    margin-bottom: 20px;
    align-self: center;
    align-items: center;
    animation: wiggle 2s linear infinite;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(20deg);
    }

    25% {
        transform: rotateZ(-20deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

#services-container .service hr {
    width: 30%;
    margin: auto;
    color: var(--black-color);
    margin-bottom: 25px;
}

#services-container .service ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

#services-container .service p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.9px;
}