/*
    --primary-color: #f6582c;;
    --secondary-color: #f3f3f3;
    --tertiary-color: #000;
    --black-color: #000;
    --white-gray: #f3f3f3;
    --light-gray: #d3d3d3;
    --gray: #919191;
    --dark-gray: #565656;
*/

#services {
    padding: 100px 15px;
    text-align: center;
}

#services .title-section {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 5px;
}

#services-container .row {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#services-container .row .service {
    max-width: 350px;
    background-color: var(--tertiary-color);
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#services-container .row .service:hover {
    box-shadow: 5px 5px 10px var(--dark-gray), -5px -5px 10px var(--gray);
}

#services-container .row .service h4 {
    font-size: 22px;
    margin-bottom: 25px;
    color: var(--primary-color);
}

#services-container .row .service .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--gray);
    padding: 20px 0px;
    margin-bottom: 20px;
    align-self: center;
    align-items: center;
}

#services-container .row .service hr {
    width: 30%;
    margin: auto;
    color: var(--black-color);
    margin-bottom: 25px;
}

#services-container .row .service ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

#services-container .row .service p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.9px;
}