#start {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/img/background-start.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#start .content header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#start .content header .content-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#start .content header .content-header h1 {
    text-align: center;
    color: #ff5080;
}

#start .content header .content-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#start .content header .content-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#start .content header .content-header nav ul a:hover {
    color: #ff5080;
}

#start .content header .content-header .networks a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#start .content header .content-header .networks a:hover {
    color: #ff5080;
}

#start .content header .content-header .selected {
    color: #ff5080;
}

#start .content .presentation {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start .content .presentation .welcome {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#start .content .presentation h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#start .content .presentation h2 span {
    font-size: 25px;
    color: #ff5080;
}

#start .content .presentation .description {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#start .content .presentation a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#start .content .presentation a:hover {
    background-color: #ff5080;
}

#icon-nav {
    color: #fff;
    display: none;
}