@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import './sections/start.css';
@import './sections/about_me.css';
@import './sections/services.css';
@import './sections/skills.css';
@import './sections/portfolio.css';
@import './sections/contact.css';
@import './sections/footer.css';
@import './sections/footer.css';
/* --------- RESPONSIVE ------------  */
@import './responsive/width320to480.css';
@import './responsive/width481to768.css';
@import './responsive/width769to1024.css';

:root {
    --primary-color: #f6582c;
    --secondary-color: #f3f3f3;
    --tertiary-color: #000;
    --black-color: #000;
    --white-gray: #f3f3f3;
    --light-gray: #d3d3d3;
    --gray: #919191;
    --dark-gray: #565656;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(5, 1, 71);
    background: linear-gradient(90deg, rgb(50, 50, 50) 0%, rgba(25, 25, 25, 1) 17%, rgba(0, 0, 0, 1) 100%);
    color: #f3f3f3;
}



.light {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(231, 231, 231) 17%, rgb(201, 201, 201) 100%);
    color: #000;
}